.index-jumbotron {
  position: relative;
  width: 100%;
  min-height: 400px;
  z-index: 0;

  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;

  overflow: hidden;
}

.index-jumbotron__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 100%;
  background-color: rgba(1, 34, 55, 0.8);
}

.index-jumbotron__text {
  width: 1080px;
  height: 100%;
  
  margin: auto;
  padding: .5rem .5rem 1rem .5rem;
  
  color: white;
  vertical-align: middle;
}

.index-jumbotron__title {
  display: inline-block;
  
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.index-jumbotron__d-day {
  float: right;
  
  text-align: right;
  font-size: 3.95rem;
  font-weight: 900;
  line-height: 1.4;
}

.index-jumbotron__caption {
  margin: -2rem 0 2.5rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.index-past {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.index-past__thumbnail {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
}

.index-past__img {
  position: absolute;
  width: 100%;
}

.index-past__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-image: url("../img/past-seminiar-thumbnail-overlay.svg");
  background-size: cover;
}

.index-past__info {
  position: absolute;
  right: 2.2rem;
  bottom: 1.8rem;
  
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
}

.index-past__location {
  font-size: 1.1rem;
  font-weight: 300;
  color: $main-yellow;
}

.index-coc {
  overflow: visible;
  background-color: $dark-blue;

  color: white;
  text-align: center;
  word-break: keep-all;
}

.index-coc__title {
  margin-bottom: 60px;
}