.register__sidebar__title {
    font-size: .9rem;
}

.register__sidebar__content {
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.register__sidebar {
    float: right;
    padding: 3.1rem 0 2rem 2rem;
}