{% extends "base.html" %}
{% block title %}발표제목{% endblock %}
{% block body %}
<section>
  <div class="col-100">
    <div class="section__title">어떤 발표의 제목</div>
    
    <div class="col-30 col-m-100 program__sidebar">
      <div class="program__sidebar__thumbnail">
        <img class="program__sidebar__thumbnail-img" src="../static/img/seminar-thumbnail.jpg" alt="">
      </div>
      <div class="program__sidebar__name"><a href="">홍길동</a></div>
      <div class="program__sidebar__title">카테고리</div>
      <div class="program__sidebar__content">Python&Data</div>
      <div class="program__sidebar__title">발표일시</div>
      <div class="program__sidebar__content">2017년 00월 00일<br>11:00~12:00</div>
      <div class="program__sidebar__title">난이도</div>
      <div class="program__sidebar__content">초급</div>
      <div class="program__sidebar__title">촬영허가</div>
      <div class="program__sidebar__content">촬영, 녹화가 가능합니다.</div>
    </div>

    <div class="col-70 col-m-100">
      <h1>슬라이드</h1>
      <a class="link" href="">https://www.slideshare.net/pythonseminar/example</a>
      <h1>설명</h1>
      <p>Django를 활용하여 RESTful API나 Website를 구축하는 분들이 많아지고 있습니다. 운영하는 서비스(모바일 앱이나 웹사이트 등)의 콘텐츠를 관리할 수 있는 CMS(Contents Management System), 혹은 서비스를 통해 축적한 데이터를 시각화하는 Dashboard를 개발하여 콘텐츠와 데이터를 꾸준히 관리해야합니다.</p>
      <p>Django로 관리 웹사이트를 직접 개발할 수도 있지만, Django에 포함되어 있는 Django admin site를 커스텀하면 더 좋은 결과물을 더 빠르고 안정적으로 만들 수 있습니다. 대표적으로 Custom UI(& Layout), Custom Filter(데이터 정렬 관련), Custom Action(데이터 필터링 후 추가 작업), Custom Page가 있습니다.</p>
    </div>
  </div>
</section>
{% endblock %}