{% extends "base.html" %}
{% block title %}로그인{% endblock %}
{% block body %}
<section>
  <div class="col-33 col-m-100 col--center">
    <div class="section__title">로그인</div>
    <div class="section--caption">
      오직 메일 주소만 저장합니다.<br>비밀번호나 기타 개인 정보를 절대로 저장하지 않습니다.
    </div>
    <form action="." method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p>e-mail 형식만 입력이 가능합니다</p>
    {% endif %}

      <div class="form-section">
        <div class="form__title">메일로 로그인</div>
        {{ form.email }}
      </div>

      <button class="btn--wide btn--important">로그인</button>
    </form>
  </div>
</section>
{% endblock %}
