{% extends "base.html" %}
{% block title %}메일 발송 완료{% endblock %}
{% block body %}
<section>
	<div class="col-33 col-m-100 col--center">
		<div class="section__title">메일 발송 완료</div>
		<div class="success-message">        
			<i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i><br><br>
			일회용 로그인 토큰 주소가<br>메일로 발송되었습니다.<br><br>
			로그인 토큰은 1시간 동안만 유효합니다.<br>
			토큰을 잃어버리셨거나 늦었다면<br>다시 로그인 해주세요.
		</div>
		<form action="{% url 'index' %}">
			<button class="btn--wide btn--important" type="submit">메인으로</button>
		</form>
	</div>
</section>
{% endblock %}