{% extends "base.html" %}
{% load staticfiles %}
{% block title %}지난 세미나{% endblock %}
{% block body %}
<section class="index-past">
  <div class="overflow-auto">
    <div class="section__title"><a href="">지난 세미나</a></div>
  
    <div class="index-past__wrapper col-33 col-m-50">
      <div class="index-past__thumbnail">
        <img class="index-past__img" src="{% static 'img/seminar-thumbnail.jpg' %}" alt="">
        <a class="index-past__overlay" href="#">
          <div class="index-past__info">
            3회
            <div class="index-past__location">KossLab 세미나실</div>
          </div>
        </a>
      </div>
    </div>
  
    <div class="index-past__wrapper col-33 col-m-50">
      <div class="index-past__thumbnail">
        <img class="index-past__img" src="{% static 'img/seminar-thumbnail.jpg' %}" alt="">
        <a class="index-past__overlay" href="#">
          <div class="index-past__info">
            2회
            <div class="index-past__location">KossLab 세미나실</div>
          </div>
        </a>
      </div>
    </div>
  
    <div class="index-past__wrapper col-33 col-m-50">
      <div class="index-past__thumbnail">
        <img class="index-past__img" src="{% static 'img/seminar-thumbnail.jpg' %}" alt="">
        <a class="index-past__overlay" href="#">
          <div class="index-past__info">
            1회
            <div class="index-past__location">KossLab 세미나실</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}