{% extends "base.html" %}
{% block title %}세션정보{% endblock %}
{% block body %}
<section>
  <div class="col-100">
    <div class="section__title">세션정보</div>
  
    <div class="timetable">
        <ul class="timetable__row">
          <li class="timetable__time">14:00~14:50</li>
          <li><a class="timetable__title" href="">파이썬 데이터가 주제인 발표</a></li>
          <li><a class="timetable__speaker" href="">발표자</a></li>
        </ul>
        <ul class="timetable__row">
          <li class="timetable__time">15:00~15:50</li>
          <li><a class="timetable__title" href="">파이썬 세미나를 위한 세션 - 파이썬 데이터와 관련이 있는 주제이고 이름이 아주 길다</a></li>
          <li><a class="timetable__speaker" href="">홍길동</a></li>
        </ul>
        <ul class="timetable__row">
          <li class="timetable__time">16:00~16:50</li>
          <li><a class="timetable__title" href="">파이썬 데이터와 관련이 있는 세션</a></li>
          <li><a class="timetable__speaker" href="">이유라</a></li>
        </ul>
        <ul class="timetable__row">
          <li class="timetable__time">17:00~17:50</li>
          <li><a class="timetable__title" href="">아무 말이나 넣어보는 제목</a></li>
          <li><a class="timetable__speaker" href="">파이선</a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
    