{% extends "base.html" %}
{% block title %}세션정보{% endblock %}
{% block body %}
<section>
    <div class="col-100">
        <div class="section__title">세션정보</div>

        <div class="timetable">
            {% if programs is not None %}
                {% for program in programs %}
                <ul class="timetable__row">
                    <li class="timetable__time">{{ program.start_datetime|time:"H:i" }} ~ {{ program.end_datetime|time:"H:i" }}</li>
                    <li><a class="timetable__title" href="">{{ program.title }}</a></li>
                    <li><a class="timetable__speaker" href="">
                        {{ program.speakers.profile.name }}

                        {% comment "나중에 여러 발표자가 있을 경우도 고려해야 하지 않을까?" %}
                        {% for speaker in program.speakers %}
                        {{ speaker.profile.name }}
                        {% empty %}
                        발표자가 준비중입니다
                        {% endfor %}
                        {% endcomment %}
                    </a></li>
                </ul>
                {% empty %}
                    <h3>시간표가 준비중입니다</h3>
                {% endfor %}
            {% else %}
            <h3>시간표가 준비중입니다</h3>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
    