section {
  padding: 3rem 1rem;
}

.section__title {
  margin-bottom: 2rem;

  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
}

.section--caption {
  margin-top: -1.4rem;
	margin-bottom: 2.8rem;
	text-align: center;
	font-size: .8rem;
}