.alert {
    margin: 1.5rem .6rem;
    padding: 1rem 1.5rem;
    
    border-radius: 10px;

    font-size: .8rem;
}

.alert--info {
    background-color: $light-blue;
    color: $dark-blue;
}

.alert--minor {
    background-color: $light-gray;
    color: $dark-gray;
}


.success-message {
    text-align: center;
    margin-bottom: 3rem;
}