{% extends "base.html" %}
{% load staticfiles %}
{% block title %}파이썬 세미나{% endblock %}
{% block body %}
<section class="index-jumbotron">
    <div class="index-jumbotron__overlay"></div>
    <div class="main-container">
        <div class="index-jumbotron__text col-m-100">
            <div class="index-jumbotron__d-day col-30 col-m-none">{{ d_day }}</div>
            <div class="index-jumbotron__title col-70 col-m-100">{{ now_meet_up.title }}</div>
            <div class="col-100">
                <div class="index-jumbotron__caption">
                    {{ now_meet_up.start_datetime }}<br>{{ now_meet_up.venue.location }}
                </div>
                {% if now_ticket is not None %}
                    {% if now_ticket.is_sellable %}
                    <a class="btn--white btn--medium" href="{% url 'meetup:registration' %}">{{ now_ticket.title }} 티켓 판매</a>
                    {% else %}
                    <a class="btn--white btn--medium" href="#">{{ now_ticket.start_time_to_sell }} 오픈 예정</a>
                    {% endif %}
                {% else %}
                    <a class="btn--white btn--medium" href="#">{{ now_ticket.start_time_to_sell }} 오픈 예정</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section__title"><a href="">시간표</a></div>

    <div class="timetable">
        {% if now_programs is not None %}
            {% for program in now_programs %}
                <ul class="timetable__row">
                    <li class="timetable__time">{{ program.start_datetime|time:"H:i" }} ~ {{ program.end_datetime|time:"H:i" }}</li>
                    <li><a class="timetable__title" href="">{{ program.title }}</a></li>
                    <li><a class="timetable__speaker" href="">
                        {{ program.speakers.profile.name }}

                        {% comment "나중에 여러 발표자가 있을 경우도 고려해야 하지 않을까?" %}
                            {% for speaker in program.speakers %}
                            {{ speaker.profile.name }}
                            {% empty %}
                            발표자가 준비중입니다
                            {% endfor %}
                        {% endcomment %}
                    </a></li>
                </ul>
            {% empty %}
                <h3>시간표가 준비중입니다</h3>
            {% endfor %}
        {% else %}
            <h3>시간표가 준비중입니다</h3>
        {% endif %}
    </div>
</section>

<section class="index-coc">
    <div class="main-container">
        <div class="section__title"><a href="">Code of Conduct</a></div>
        <div class="index-coc__title col-100">
            우리는 이 행사에 참여하는 모든 분들의 참여를 소중히 여기며,
            모든 분들이 즐겁고 만족스러운 시간을 보내시기를 바랍니다.<br>
            이를 위해 모든 참석자 분들께 다른 참석자 분들을 존중하고 예의있게 대해주실 것을 부탁드립니다.<br>
            <br>
            다른 사람을 존중해 주십시오. 다른 참석자들을 모욕하거나 상처주지 마십시오.<br> 차별이나 성희롱, 인종차별, 공격적인 농담은 파이썬 세미나에서 허용되지 않습니다.<br>
            이러한 규칙을 어기는 참석자들은 운영진의 재량에 의해 행사에 더 이상 참석하실 수 없으며, 참가비용은 환불해드리지 않습니다.
        </div>
        <a class="btn--medium btn--white" href="{% url 'coc' %}">전문읽기</a>
    </div>
</section>

<section class="index-past">
    <div class="overflow-auto">
        <div class="section__title"><a href="{% url 'meetup:past_list' %}">지난 세미나</a></div>

        {% for meet_up in last_meet_ups %}
        <div class="index-past__wrapper col-33 col-m-50">
            <div class="index-past__thumbnail">
                <img class="index-past__img" src="../static/img/seminar-thumbnail.jpg" alt="">
                <a class="index-past__overlay" href="#">
                    <div class="index-past__info">
                        {{ meet_up.id }}회
                        <div class="index-past__location">{{ meet_up.venue.location }}</div>
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <h3>아직 개최된 세미나가 없습니다</h3>
        {% endfor %}
    </div>
</section>
{% endblock %}